* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* color: white;
  background-color: black; */
}

/* ------------------------------------------------DarkMode/LightMode----------------------------- */

/* -------------------------------Dark Mode Ends here---------------------------------- */
.nav_container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b1b7bb;
}
.logo_div {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
span {
  color: black;
  animation-name: Z;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes Z {
  from {
    color: aqua;
  }
  to {
    color: red;
  }
}
.logo_div h1,
.about_us_div h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  color: blue;
}
.nav_list_div {
  width: 55%;
}
ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: black;
  font-size: 26px;
}
a:hover {
  border-bottom: 2px solid black;
}
/* -----------------------------------------middle section-------------------------------------------------- */
.middle_section_div {
  height: 90vh;
  width: 100%;
  display: flex;
  background-color: #c6ccce;
}
.about_us_div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about_us_div h1,
p,
h2 {
  margin: 10px;
}

.btn {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #141415;
  color: #fff;
  font-size: 28px;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.3s linear;
}

.btn1:hover {
  transform: rotateX(15deg);
  box-shadow: 0 15px 15px #00a8ff;
}
.png_div {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pngimage_logo {
  width: 90%;
  height: 90%;
  animation-name: movement;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movement {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* 

==================Middle section============================

*/
.latest_arrival_head {
  height: 10vh;
  background-color: rgb(153, 199, 153);
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest_arrival_section {
  background-color: rgb(237, 220, 220);
  width: 100%;
  height: 210vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  background-color: #141415;
  height: 60vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation-name: fade;
  animation-duration: 40s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.pngimage_arrival {
  width: 100%;
  height: 40vh;
}
.card h2 {
  text-align: center;
  color: white;
}

@keyframes fade {
  from {
    background-color: wheat;
  }
  to {
    color: black;
  }
}
.pngimage_arrival {
  animation-name: arrival_movement;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes arrival_movement {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* ====================================Contact US Div================================= */
.contact_us_div {
  height: 100vh;
  background-image: url(black.png);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact_us_div h2 {
  border-bottom: 2px solid white;
}
.contact_us_div p {
  text-align: center;
}
.form_div {
  width: 100%;
  height: 450px;
  background: rgba(213, 224, 214, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_div input {
  background: rgba(240, 245, 241, 0.1);
  width: 200px;
  height: 35px;
  color: #fff;
  padding: 3px;
}

::placeholder {
  text-align: center;
}
#submit_button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  transition: 0.3s linear;
}
#submit_button:hover {
  transform: rotateX(30deg);
  box-shadow: 0 15px 15px white;
  color: black;
  background-color: white;
}
/* ---------------------------------------media querry---------------------------------------- */
@media (max-width: 767px) {
  .nav_container {
    height: 16vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo_div {
    width: 100%;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
  }
  .nav_list_div {
    width: 100%;
  }
  a {
    font-size: 16px;
    font-weight: bold;
  }
  a:hover {
    border-bottom: 2px solid black;
  }
  .middle_section_div {
    flex-direction: column;
    justify-content: space-between;
    height: 84vh;
  }
  .about_us_div {
    width: 100%;
    height: 42vh;
    order: 2;
  }
  .btn {
    width: 110px;
    height: 40px;
    font-size: 20px;
  }
  .png_div {
    width: 100%;
    height: 42vh;
  }
  .pngimage_logo {
    height: 300px;
  }

  .pngimage_arrival {
    height: 55vh;
  }
  .form_div {
    height: 400px;
  }
  .form_div input {
    height: 28px;
  }
  #submit_button {
    height: 35px;
  }
}
@media (min-width: 768px) {
  a {
    font-size: 20px;
    font-weight: bold;
  }
}
/* =============================Main Container=========================== */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
